[submodule "tools/pkg"]
	path = tools/pkg
	url = https://github.com/Outernet-Project/tools-pkg.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/Outernet-Project/lighthouse-buildroot.git
[submodule "linux"]
	path = linux
	url = https://github.com/Outernet-Project/lighthouse-linux.git
